@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-font{
    font-family: 'Bebas Neue', sans-serif;
}

.btn{
    white-space: nowrap !important;
}

.alert{
    border-color: #d3d9f2 !important;
}

a {
    text-decoration: none;
}

@keyframes pulse {
    0% {
        font-size: 14px;
    }
    50% {
        font-size: 15px;
    }
    100% {
        font-size: 14px;
    }
}


.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

ul.dropdown-menu.dropdown-menu-end {
    height: 250px !important;
    overflow-y: scroll !important;
}

.btn{
    border-radius: 2px !important;
    background-image: none !important;
}


.btn-primary {
    background-color: var(--button-primary-background-color) !important;
    border-color: var(--button-primary-background-color) !important;
    color: var(--button-text-color) !important;
}
.btn-danger {
    background-color: var(--button-danger-background-color) !important;
    border-color: var(--button-danger-background-color) !important;
    color: var(--button-text-color) !important;
}


.form-control{
    border-radius: 2px !important;
}

.form-check-input{
    border-radius: 2px !important;
}

.card{
    border-radius: 5px !important;
}

.border-r-8px{
    border-radius: 8px;
}


.border-r-15px{
    border-radius: 15px;
}

.transition-all {
    transition: all .8s ease;
  }

.shadow-background{
    box-shadow: var(--bs-box-shadow) !important;
}

.bg-lg-primary{
    background-image: linear-gradient(to right, var(--first-gradient-color), var(--second-gradient-color)) !important;
}
.bg-inner-card-primary{
    /* background-color: var(--nav-background-color); */
    background-color: white;
}
  @media (max-width: 768px) {
    .shadow-background{
        box-shadow: none !important;
    }

    /* Add more styles as needed */
  }
  @media (max-width: 992px) {
    .bg-lg-primary {
      background-color: var(--nav-background-color) !important;
    }
    .shadow-background{
        box-shadow: none !important;
    }
    .bg-inner-card-primary{
        background-color: transparent;
        transition: background-color none;
    }


    /* Add more styles as needed */
  }


input::-ms-clear, input::-ms-reveal {
    display: none;
}


.invalid-feedback{
    display: block !important;
}
