
.bg-primary{
    background-color: var(--nav-background-color) !important;
}

.nav-text-color{
    color: var(--nav-text-color) !important;
}

.card-header{
    border: 0;
}

.nav-link small{
    font-size: 9px;
}

@media (min-width: 576px) {
    .nav-link small{
        font-size: 10px;
    }
}

.auth-main{
    margin-top: 210px !important;
    margin-bottom: 50px;
}

@media (min-width: 768px){
    .auth-main{
        margin-top: 180px !important;
    }
}
